<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    body {
        background: #ffffff;
    }
    #box {
        border: 2px solid black;
        padding: 50px;
        width: 1310px;
        height:685px;
        background-color: lightgray;
        color: #3e3e44;
    }

    h1 {
        text-align: left;
        font-size: 35px;
        font-family: "Times New Roman";
        color: #6c6868;
        text-shadow: 1px 1px #0a0a0a;
    }
</style>
<body>
<div id = "box">
    <h1 align="center">Temperatur</h1>




</div>

</div>

</body>
</html>